
config bo 'default'
	option description 'Analogwert'
	option inactive_text 'Aus'
	option event '0'
	option limit '3'
	option notify_type '1'

config bo '22'
	option disable '0'
	option pgroup 'R802'
	option name 'R801_HZ_Y_SB'
	option description 'ventilatoren'
	option value '0'

config bo '8'
	option disable '0'
	option pgroup 'R802'
	option description 'Heizventil'
	option name 'R801_Normal_SB'
	option value '1'
	option alarm_value '1'
	option nc '14120'
	option notify_type '0'
	option event '1'
