
config ai 'default'
	option si_unit '98'
	option nc '14080'
	option event '7'
	option limit '3'
	option high_limit '40'
	option low_limit '0'
	option dead_limit '0'
	option cov_increment '0.1'
	option max_value '100'
	option min_value '0'
	option event_detection '1'
	option evt_msg_offnormal 'AI Default %N %D Alarm %V'
	option evt_msg_fault 'AI Default %N %D Fehler %V'
	option evt_msg_normal 'AI Default %N %D OK %V'

config ai '0'
	option name 'R801_RT_AI'
	option description 'Raumtemperatur'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution '0.1'
	option Out_Of_Service '1'
	option value '-25.0'
	option min_value '-100.0'
	option evt_msg_offnormal 'Raumtemperatur %N %D Alarm %V'
	option evt_msg_fault 'Raumtemperatur %N %D Fehler %V'
	option evt_msg_normal 'Raumtemperatur %N %D OK %V'

config ai '2'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution '0.1'
	option Out_Of_Service '1'
	option value '66'
	option event_detection '0'

config ai '3'
	option name 'R902_RT_AI'
	option description 'Raumtemperatur'
	option si_unit '62'
	option resolution '0.1'
	option Out_Of_Service '1'
	option value '30.0'

config ai '4'
	option name 'dword1_ai'
	option description 'Datenwort 1 16Bit'
	option si_unit '61'
	option resolution '1'
	option cov_increment '1'
	option Out_Of_Service '1'
	option value '40'
	option event_detection '0'

config ai '5'
	option name 'R810_RT_AI'
	option description 'Raumtemperatur'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution '0.1'
	option Out_Of_Service '1'
	option value '6.0'

config ai '6'
	option name 'R811_RT_AI'
	option description 'Raumtemperatur'
	option si_unit '62'
	option resolution '0.1'
	option Out_Of_Service '1'
	option value '23.3'

config ai '7'
	option name 'R910_RT_AI'
	option description 'Raumtemperatur'
	option si_unit '62'
	option dead_limit '0.5'
	option cov_increment '0.2'
	option resolution 'doublefloat'
	option value '0.0'
	option Out_Of_Service '1'

config ai '8'
	option name 'R911_RT_AI'
	option description 'Raumtemperatur'
	option si_unit '62'
	option resolution '0.1'
	option value '2.2'
	option Out_Of_Service '1'

config ai '9'
	option name 'dword2_ai'
	option description 'Datenwort 2 16Bit'
	option si_unit '61'
	option resolution '1'
	option cov_increment '1'
	option Out_Of_Service '1'
	option value '21'
