
config nc 'default'
	option description 'Notification Class default'
	option name 'Notification Class'
	option ack_required '3'
	option prio_offnormal '254'
	option prio_fault '254'
	option prio_normal '254'

config nc '14020'
	option description 'Gefahr für Leib und Leben'
	option name '491000014020'
	option prio_offnormal '20'
	option prio_fault '20'
	option prio_normal '20'
	option evt_msg_offnormal '%N %D Alarm %V'
	option evt_msg_fault '%N %D Fehler %V'
	option evt_msg_normal '%N %D OK %V'
	option ack_required '7'
	list recipient 'n,65535'

config nc '14020'
	option description 'Gefahr für Eigentum'
	option name '491000014040'
	option prio_offnormal '40'
	option prio_fault '40'
	option prio_normal '40'
	option evt_msg_offnormal '%N %D Alarm %V'
	option evt_msg_fault '%N %D Fehler %V'
	option evt_msg_normal '%N %D OK %V'
	option ack_required '7'
	list recipient 'n,65535'

config nc '14080'
	option description 'Überwachung/dringende technische Stoerung'
	option name '491000014080'
	option prio_offnormal '80'
	option prio_fault '80'
	option prio_normal '80'
	option evt_msg_offnormal '%N %D Stoerung %V'
	option evt_msg_fault '%N %D Fehler %V'
	option evt_msg_normal '%N %D OK %V'
	option ack_required '7'
	list recipient 'n,65535'

config nc '14120'
	option description 'Problembeseitigung/nicht dringende techn. Stoerung'
	option name '491000014120'
	option prio_offnormal '120'
	option prio_fault '120'
	option prio_normal '120'
	option evt_msg_offnormal '%N %D Warnung %V'
	option evt_msg_fault '%N %D Fehler %V'
	option evt_msg_normal '%N %D OK %V'
	option ack_required '0'
	list recipient 'n,65535'

config nc '14120'
	option description 'Wartungsmeldung'
	option name '491000014160'
	option prio_offnormal '160'
	option prio_fault '160'
	option prio_normal '160'
	option evt_msg_offnormal '%N %D Wartung %V'
	option evt_msg_fault '%N %D Fehler %V'
	option evt_msg_normal '%N %D OK %V'
	option ack_required '0'
	list recipient 'n,65535'

config nc '50200'
	option description 'B-OWS holt Trends ab'
	option name '491000050200'
	option prio_offnormal '160'
	option prio_fault '160'
	option prio_normal '160'
	option evt_msg_offnormal '%N %D Meldung %V'
	option evt_msg_fault '%N %D Fehler %V'
	option evt_msg_normal '%N %D OK %V'
	option ack_required '0'
	list recipient 'n,65535'

config nc '99222'
	option description 'NC für nicht benutzte, aber im Controller eingerichtete Meldungen / keine Meldungen nach GaBI'
	option name '491000099222'
	option prio_offnormal '222'
	option prio_fault '222'
	option prio_normal '222'
	option evt_msg_offnormal '%N %D Stoerung %V'
	option evt_msg_fault '%N %D Fehler %V'
	option evt_msg_normal '%N %D OK %V'
	option ack_required '0'
	list recipient 'n,65535'
	list recipient 'n,0,192.168.104.98:47808'
