
config sc 'default'
	option description 'schedule'
	option prio '16'

config sc '0'
	option name 'R801_RT_SC'
	option default '4,222.000000'
	list weekly_0 '8,0,0,4,19.000000'
	list weekly_1 '4,0,0,4,28.000000'
	list weekly_1 '18,0,0,4,19.000000'
	list weekly_6 '8,0,0,4,18.000000'
	list weekly_6 '23,0,0,4,12.000000'
	list references '-1,2,0'
	list references '4711,2,0'
	option disable '1'

config sc '1'
	option name 'R301_Temperatur_Sollwert_SC'
	option default '4,21.000000'
	list weekly_0 '8,10,0,4,24.000000'
	list weekly_0 '13,8,0,0,0'
	list weekly_1 '8,0,0,4,24.000000'
	list weekly_1 '21,0,0,0,0'
	list weekly_2 '8,0,0,4,24.000000'
	list weekly_2 '21,0,0,0,0'
	list weekly_3 '8,0,0,4,24.000000'
	list weekly_3 '21,0,0,0,0'
	list weekly_4 '8,0,0,4,24.000000'
	list weekly_4 '21,0,0,0,0'
	list weekly_5 '8,0,0,4,24.000000'
	list weekly_5 '21,0,0,0,0'
	list weekly_6 '8,0,0,4,24.000000'
	list weekly_6 '21,0,0,0,0'
	list references '-1,2,1'
	list references '4711,2,1'
	option disable '1'

config sc '2'
	option name 'R901_RT_SC'
	option default '4,21'
	list references '-1,2,2'
	list weekly_0 '8,0,0,4,23'
	list weekly_0 '21,0,0,0'
	list weekly_1 '8,0,0,4,23'
	list weekly_1 '21,0,0,0'
	list weekly_2 '8,0,0,4,23'
	list weekly_2 '21,0,0,0'
	list weekly_3 '8,0,0,4,23'
	list weekly_3 '21,0,0,0'
	list weekly_4 '8,0,0,4,23'
	list weekly_4 '21,0,0,0'
	list weekly_5 '8,0,0,4,23'
	list weekly_5 '21,0,0,0'
	list weekly_6 '8,0,0,4,23'
	list weekly_6 '21,0,0,0'
	option disable '1'

config sc '3'
	option name 'R902_RT_SC'
	option default '4,21'
	list references '-1,2,3'
	list weekly_0 '8,0,0,4,23'
	list weekly_0 '21,0,0,0'
	list weekly_1 '8,0,0,4,23'
	list weekly_1 '21,0,0,0'
	list weekly_2 '8,0,0,4,23'
	list weekly_2 '21,0,0,0'
	list weekly_3 '8,0,0,4,23'
	list weekly_3 '21,0,0,0'
	list weekly_4 '8,0,0,4,23'
	list weekly_4 '21,0,0,0'
	list weekly_5 '8,0,0,4,23'
	list weekly_5 '21,0,0,0'
	list weekly_6 '8,0,0,4,23'
	list weekly_6 '21,0,0,0'
	option disable '1'

config sc '4'
	option name 'dword1_sc'
	option default '4,21'
	list references '-1,2,4'
	list weekly_0 '8,0,0,4,23'
	list weekly_0 '21,0,0,0'
	list weekly_1 '8,0,0,4,23'
	list weekly_1 '21,0,0,0'
	list weekly_2 '8,0,0,4,23'
	list weekly_2 '21,0,0,0'
	list weekly_3 '8,0,0,4,23'
	list weekly_3 '21,0,0,0'
	list weekly_4 '8,0,0,4,23'
	list weekly_4 '21,0,0,0'
	list weekly_5 '8,0,0,4,23'
	list weekly_5 '21,0,0,0'
	list weekly_6 '8,0,0,4,23'
	list weekly_6 '21,0,0,0'
	option disable '1'
