config dev '0'
	option enable '1'
	option Description 'Openwrt Router'
	option Modelname 'Openwrt Router'
	option Location 'Europe'
	option app_ver '1.1.0'
	option Name 'openwrt-router-bip6'
	option Id '4712'
	option port '47808'
	option net '0'
	option iface 'br-lan'
	option bacdl 'bip6'
	option debug '0'
	option broadcast '65294'
	option broadcast_ff0e '65294'
	option broadcast_ff02 '65282'
	option primary_hub_uri 'wss://127.0.0.1:50050'
	option failover_hub_uri 'wss://127.0.0.1:50050'
	option filename_ca_1_cert '/etc/ssl/bacnet/ca_cert.pem'
	option filename_ca_2_cert '/etc/ssl/bacnet/ca_cert.pem'
	option filename_cert '/etc/ssl/bacnet/server_cert.pem'
	option filename_key '/etc/ssl/bacnet/server_key.pem'
	option direct_binding 'bridge101:1234'
	option hub_binding '50050'
	option direct_connect_initiate '1'
