
config mo 'default'
	list state 'up'
	list state 'down'
	list state 'unreachable'
	list state 'flaping'
	option description 'Multi State Output'
	option nc '99222'
	option event '7'

config mo '3'
	option name 'R301DLDIM'
	option description 'R301 Deckenleuchte Dim'
	option Out_Of_Service '0'
	option fb_value '3'
	option value '3'
	list state 'Heller'
	list state 'Stop'
	list state 'Dunkler'

config mo '4'
	option name 'R302DLDIM'
	option description 'R302 Deckenleuchte Dim'
	option Out_Of_Service '0'
	option fb_value '3'
	option value '3'
	list state 'state1'
	list state 'state2'
	list state 'state4'
	list state 'state5'
	list state 'state6'
	list state 'state7'
	list state 'state8'
	list alarm '4'
	list alarm '5'
	list alarm '6'

