
config mi 'default'
	list state 'up'
	list state 'down'
	list state 'unreach'
	list state 'flaping'
	list state 'uncertain'
	list alarm '2'
	list alarm '3'
	list alarm '4'
	list alarm '5'
	option nc '14020'
	option event '7'
	option event_detection '1'

config mi '0'
	option name 'TR_EZR00_SV01_IN'
	option value '1'
	option description '192.168.100.29'

config mi '1'
	option name 'TR_EZR01_SV01_IN'
	option value '1'
	option description '192.168.100.30'
	list state 'up'
	list state 'down'
	list state 'flaping'
	list state 'unreach'

config mi '2'
	option name 'TR_EZR02_SV01_IN'
	option value '1'
	option description '192.168.100.32'

config mi '3'
	option name 'TR_EZR02_SV02_IN'
	option value '1'
	option description '192.168.100.33'

