
config ao 'default'
	option si_unit '98'
	option description 'Analogwert'
	option event '7'
	option limit '3'
	option high_limit '100'
	option low_limit '10'
	option dead_limit '0'
	option max_value '100'
	option minnn_value '0'
	option notify_type '1'
	option cov_increment '0.1'

config ao '22'
	option disable '0'
	option pgroup 'R802'
	option name 'R801_HZ_Y'
	option addr '11'
	option nc '14120'
	option tagname 'modbus-s1'
	option resolution '1000'
	option dead_limit '0.5'
	option cov_increment '0.5'
	option value_time '1645306011'
	option description 'ventilatoren'
	option notify_type '0'
	option value '0'
	option high_limit '12346000'
	option max_value '1012000'
	option low_limit '1000'

config ao '8'
	option disable '0'
	option pgroup 'R802'
	option description 'Heizventil'
	option addr '12'
	option nc '14120'
	option tagname 'modbus-s1'
	option resolution '0.001'
	option value_time '1645310605'
	option name 'R801_Normal'
	option max_value '150.000000'
	option notify_type '1'
	option value '40.000'

config ao '43'
	option disable '0'
	option pgroup 'R301'
	option name 'R301_DL_HW'
	option descriptions 'Deckenleuchte Helligkeitswert'
	option addr '0/0/2'
	option tagname 'linknx'
	option resolution '0.1'
	option dead_limit '0.5'
	option cov_increment '0.5'
	option dpt '5.001'
	option Out_Of_Service '0'
	option fb_value '0'
	option value_time '0'
	option description 'Helliegkeitswert'
	option value '30.000000'
	option notify_type '1'

config ao '42'
	option disable '0'
	option pgroup 'R301'
	option addr '0/0/11'
	option tagname 'linknx'
	option resolution '10'
	option dead_limit '0.5'
	option dpt '5.001'
	option Out_Of_Service '0'
	option fb_value '0'
	option value_time '1645306011'
	option name 'R301_Ventil_Heizen_T'
	option value '123456789.123456789'
	option notify_type '0'

config ao '659865'
	option disable '0'
	option pgroup 'R301'
	option name 'R301_Ventil_Kuehlen'
	option addr '0/0/12'
	option tagname 'linknx'
	option resolution '0.1'
	option dead_limit '0.5'
	option dpt '5.001'
	option Out_Of_Service '0'
	option fb_value '0'
	option value_time '0'
	option description 'Kuehldeckenventilatoren'
	option value '30.000000'

