
config mv 'default'
	list state 'up'
	list state 'down'
	list state 'unreachable'
	list state 'flaping'
	list alarm '2'
	list alarm '3'
	list alarm '4'
	option nc '14080'
	option event '7'
	option event_detection '1'
	option evt_msg_offnormal 'MV Default %N %D Alarm %V'
	option evt_msg_fault 'MV Default %N %D Fehler %V'
	option evt_msg_normal 'MV Default %N %D OK %V'

config mv '0'
	option name 'TR_EZR00_SV01'
	option value '1'
	option description '192.168.100.29'

config mv '1'
	option name 'TR_EZR01_SV01'
	option value '1'
	option description '192.168.100.30'

config mv '2'
	option name 'TR_EZR02_SV01'
	option value '2'
	option description '192.168.100.32'

config mv '3'
	option name 'TR_EZR02_SV02'
	option value '1'
	option description '192.168.100.33'

