config dev '0'
	option enable '1'
	option Description 'Openwrt Router'
	option Modelname 'Openwrt Router'
	option Location 'Europe'
	option app_ver '12.09'
	option Name 'openwrt-router-bip6'
	option Id '4712'
	option port '47808'
	option net '0'
	option iface 'bridge101'
	option bacdl 'bip6'
	option debug '1'
	option broadcast '65294'
	option broadcast_ff0e '65294'
	option broadcast_ff02 '65282'
