
config nc 'default'
	option description 'Notification Class default'
	option name 'Notification Class'
	option ack_required '3'
	option prio_offnormal '254'
	option prio_fault '254'
	option prio_normal '254'
	option group 'ZF'

config nc '0'
	option description 'Network Monitoring'
	option name 'Komunikationfehler'
	option prio_offnormal '1'
	option prio_fault '1'
	option prio_normal '1'
	option ack_required '7'
	option group 'ZF'
	list recipient 'd,1010'
	list recipient 'n,0,192.168.104.58:47808'
	list recipient 'n,0,192.168.104.48:47808'


config nc '1'
	option description 'Modbus Sensor Fehler'
	option name 'Sensor Fehler'
	option prio_offnormal '10'
	option prio_fault '10'
	option prio_normal '10'
	option group 'ZF'
	option ack_required '7'
	list recipient 'n,65535'

config nc '100'
	option description 'Trendlog Buffer full'
	option name 'Trendlogbuffer'
	option prio_offnormal '100'
	option prio_fault '100'
	option prio_normal '100'
	option ack_required '0'
	option group 'ZF'
	list recipient 'n,65535'
	list recipient 'n,0,192.168.104.98:47808'

